html, body {
  color: #333333;
}

a {
  color: #333333;
}

section {
  min-width: 1100px;
  margin: auto;
}

.top-nav {
  width: 100%;
  height: 122px;
  color: #000;
}

.top-nav .logo-wrap {
  display: block;
  padding-top: 18px;
  padding-bottom: 26px;
}

.top-nav .logo-wrap .logo {
  margin: auto;
  display: block;
  font-size: 30px;
  width: 87px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 42px;
  line-height: 42px;
  text-align: center;
}

.top-nav .main-navs {
  float: left;
}

.top-nav .main-navs .navs-item {
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.top-nav .main-navs a {
  display: inline-block;
  width: 120px;
  padding-left: 15px;
  height: 36px;
  vertical-align: middle;
  line-height: 36px;
}

.top-nav .main-navs a:hover {
  background: #083f7a;
  color: #fff;
}

.top-nav .main-navs a img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.top-nav .main-navs .active {
  background: #083f7a;
  color: #fff;
}

.top-nav .opt-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.top-nav .fr {
  font-size: 20px;
  color: #d3082f;
  line-height: 36px;
}

.top-nav .fr img {
  width: 16px;
  height: 16px;
}

.footer {
  height: 180px;
  color: #999999;
  background: #2f3545;
}

.footer .brand {
  width: 1100px;
  padding-top: 35px;
  padding-bottom: 15px;
  margin: auto;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #fff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .brand div img {
  width: 50px;
  float: left;
  height: 50px;
  padding-right: 10px;
}

.footer .brand div h3 {
  float: left;
  width: 108px;
  font-size: 18px;
  line-height: 50px;
}

.footer .us {
  width: 600px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
  /* Safari */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #999999;
}

.footer .us a:hover {
  color: #fff;
}

.footer p {
  text-align: center;
}

.top {
  color: #fff;
  text-shadow: 0 1px black, 1px 0 black, -1px 0 black, 0 -1px black;
}

.top .img {
  height: 470px;
  text-align: center;
}

.top .img h3 {
  padding-top: 131px;
  height: 67px;
  font-size: 48px;
  line-height: 58px;
}

.top .img p {
  margin: auto;
  width: 676px;
  height: 74px;
  font-size: 24px;
  line-height: 37px;
}
